<div class="pagedisplay">
    <ion-app>
        <ion-content>
            <div #pagecontent class="pagecontent" style="padding-bottom: 80px !important;">
                <ion-item>
                    {{'V 9 ' + _isInclient}} 
                </ion-item>
                <ion-item>
                    <ion-avatar slot="start" (click)="closeLiff()">
                        <img src="{{_lineUserProfile?.pictureUrl}}">
                    </ion-avatar>
                    <ion-label>{{_lineUserProfile?.displayName}}</ion-label>
                </ion-item>

                <ion-card *ngFor="let item of _dataList">
                    <img src="{{item.pic}}" (click)="openMap(item)" />
                    <ion-card-header>
                        <ion-card-title>
                            <div class="alignspace">
                                <div class="text-18">
                                    {{item.name }}
                                </div>
                                <div class="text-26" (click)="openMap(item)">
                                    <i class="las la-map-marked-alt"></i>
                                </div>
                            </div>
                        </ion-card-title>

                        <ion-card-subtitle>{{item.subtitle}}</ion-card-subtitle>

                    </ion-card-header>
                </ion-card>
            </div>
        </ion-content>
    </ion-app>
</div>